
<div class="container">
    <div class="my-3">
        <input type="search" class="form-control" placeholder="search by Name .." [(ngModel)]="searchInput">
        </div>
        <div class="card   my-3">
            <p-table
                [value]="combination|search:searchInput"
                [paginator]="true"
                [rows]="5"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10, 25, 50]"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:25%">Id</th>
                        <th style="width:25%">Name</th>
                        <th  style="width:25%">Amount</th>
                        <th style="width: 25%;"  >Date</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr (click)="getUserGraph(customer)" role="button">
                        <td>{{ customer.customer.id }}</td>
                        <td>{{ customer.customer.name }}</td>
                        <td  >
                        <div *ngFor="let item of customer.transactions">{{item.amount}}</div>
                        </td>
                           
                        
                            <td  >
                                <div *ngFor="let item of customer.transactions"> {{item.date}}</div>
        
                            </td>
                        
                       
                       
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-table>
        </div>

        <div class="card my-3">
            <h3 *ngIf="!flag" class="my-2 text-info">Click to customer to see Graph </h3>
            <p-chart type="line" [data]="data" [options]="options" />
        </div>   
</div>
